/* feel free to change this, nothing permanent */

body{
 background-color: black;
 background-image: url("https://i.ytimg.com/vi/xf7pNSLFJOI/maxresdefault.jpg");
 background-size: cover;
}

.question{
  color: ghostwhite;
  font-family: 'Codystar', cursive;
  font-size: 3vh;
  text-align: center;
}

.answer{
  padding: 2vh;
}

.trivia-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trivia-box{
  margin-top: 4vh;
  background-color: black;
  padding: 2vh;
}

.options{
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login{
  color: #c9db84;
  font-size: 6vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
}

.create-account{
  color: #c9db84;
  font-size: 5vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
}

.sign-up-header{
  color: #c9db84;
  font-size: 6vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;

}
.peter-tomarken{
  height: 50vh;
  width: 50vh;
}


.joinButton {
  background-color: green;
  width: 10vh;
  text-align: center;
}

.joinButton:hover {
  cursor: pointer;
}

.sign-in{
  display: block;
  margin: 2vh;
  border: none;
  background: black;
}

.host{
  position: absolute;
  right: 0;
  bottom: 8%;
  }

.player-console{
  height: 11vh;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}