/* feel free to change this, nothing permanent */

#body{
 background-color: black;
 background-image: url("https://i.ytimg.com/vi/xf7pNSLFJOI/maxresdefault.jpg");
 background-size: cover;
 background-position: 0 -2%;
}

#board{
  /* background-color: #5a1104; */
  background: orange;  /* fallback for old browsers */
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b31100, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b31100, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 103vh;
  background-position: 0 25%;
}

#trivia{
  background-image: url("http://s2.dmcdn.net/O9UPf/1280x720-yLz.jpg");
  background-size: 100%;
  background-position: 0% -3%;
 
}

.game-room{
  text-align: center;
}

.game-room-header{
  font-size: 10vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  color: #c9db84;
  display: block;
  margin-top: 2vh;
}

.create-game{
  background-color: #094b00;
  border: none;
  color: ghostwhite;
  font-family: 'Righteous', cursive;
  border: 2px dotted #c9db84;

}

.available-rooms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Righteous', cursive;
}

.next-question{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(100%);
}

.next-question:hover{
  cursor: pointer;
}

.ready{
  font-size: 10vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  color: #c9db84;
  display: block;
  margin-top: 2vh;
  padding: 2vh;
}

.question{
  font-size: 5vh;
  text-align: center;
}

.answer{
  color: ghostwhite;
  text-shadow: 3px 3px black;
  font-size: 4vh;
  font-family: 'Libre Baskerville', serif;
  background: none;
  border: none;
  display: block;
  margin-top: 2vh;
  transition: background 1s;
}

.answer:hover{
  cursor: pointer;
  background: gray;

}

.trivia-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trivia-box{
  margin-top: 4vh;
  background-color: black;
  padding: 2vh;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  color: #c9db84;
  border: 2px dotted #c9db84;
}

.options{
  margin-top: 4vh;
  height: 100%;
  padding: 2vh;
  text-align: center;
  background: rgb(0, 0, 0);
  opacity: .85;
  transition: opacity .5s;
}
.options:hover{
  opacity: 1
}

.timer{
  font-size: 11vh;
  color: ghostwhite;
  background-color: black;
  margin-left: 4vh;
  height: 17vh;
  transform: translateY(82%);
  font-family: 'Libre Baskerville', serif;
  width: 20vh;
}

.timer-hide{
  display: none;
}

.bonus{
  font-size: 6vh;
  transform: translateY(100%);
  font-family: 'Codystar', cursive;
  background-color: black;
  color: #c9db84;
  display: inline-block;
  border: .8vh dotted #c9db84;
  padding: .5vh;
}

.bonus-box{
  /* /* display: flex;
  flex-direction: row;
  justify-content: center; / */
  text-align: center; 
  transform: translateY(-47%);
  margin-right: 1.5vh;

}

.red-x-show{
  height: 95%;
  width: 100%;
  display: absolute;
}

.red-x-hide{
  display: none;
}

.login{
  color: #c9db84;
  font-size: 6vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  margin: 2vh;
}

.create-account{
  color: #c9db84;
  font-size: 5vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  margin: 2vh;
}

.sign-up-header{
  color: #c9db84;
  font-size: 6vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
}

.peter-tomarken{
  height: 50vh;
  width: 50vh;
}

.peter-tomarken-goodbye{
  height: 50vh;
  width: 50vh;
  position: absolute;
  right: 5%;
  bottom: 5%;
}



.joinButton {
  background-color: black;
  width: 10vh;
  text-align: center;
  border: 1px dotted #c9db84;
  margin: 5px;
  color: ghostwhite;
}

.joinButton:hover {
  cursor: pointer;
}

.sign-in{
  display: block;
  margin: 2vh;
  border: none;
  background: black;
}

.host{
  position: absolute;
  right: 25vh;
  bottom: 8%;
  }

  /* FOOTER */
.player-console{
  
  height: 15vh;
  background-color:#1a3c1b;
  border: 5px solid #c9db84;
  font-family: 'Codystar', cursive;
  color: #c9db84;
  margin-top: 2.9vh;
 }

/* .console{
  display: flex;
} */



/* .cash{
  display: flex;
  flex-direction: row;
  margin: 2vh;
  transform: translateX(470%);
  font-size: 8vh;
} */

.spin-count{
  background-color: #724600;
  border: 2px solid #805b20;
}

.footer-row {
  width: 100%;
  height: 15vh;
  bottom: 0;
  position: absolute;
}

.site-wrapper{
  height: 100%;
}

.cash{
  position : absolute;
  right : 2;
}
/* GAMEBOARD */
.col-xs-2 {
  height: 17vh;
  background-color: black;
  border-radius: 15px;
  border: #391f0b solid 1vh;
  z-index: 1;
  transition: border .1s, background-color .1s;
}

.centerConsole {
  position: relative;
  bottom: 45vh;
  /* text-align: center; */
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(-55%);
  z-index: 0;
}

.mayor-whammy-none{
  display: none;
}

.spin-or-pass-hide{
  display: none;
}

.spin-or-pass-show{
  position: inherit;
  display: flex;
}

.press-my-luck{
  height: 30vh;
  width: 40vh;
  background-color: rgba(29,123,0, .8); 
  position: absolute;
  z-index: 1;
  display: inline-block;
  transform: translateX(-55%);
  margin-top: 7vh;
}

.press-my-luck:hover{
  background-color: rgba(29,123,0, 1);
  border: .5vh dotted #c9db84;
  cursor: pointer;
  box-sizing: border-box;
  padding: 1vh;
}

.pass-spins{
  height: 30vh;
  width: 42vh;
  background-color: rgba(115,7,4, .8);
  position: absolute;
  z-index: 1;
  display: inline-block;
  transform: translateX(55%);
  margin-top: 7vh;
  padding: 1vh;
  border: 1vh solid rgba(115,7,4, .8);
  box-sizing: border-box;
  transition: display 1s;
}


.pass-spins:hover{
  background-color: rgba(115,7,4, 1);
  border: .5vh dotted #c9db84;
  cursor: pointer;
  box-sizing: border-box;
  padding: 1vh;
}

.choice{
  color: ghostwhite;
  position: inherit;
  left: 7.5%;
  right: 33%;
  top: 12%;
  font-size: 17vh;
  min-width: 10vh;
  font-family: 'Anton', sans-serif;
  text-shadow: 3px 3px black;
  
}

.goodbye{
  font-size: 18vh;
  font-family: 'Anton', sans-serif;
  color: ghostwhite;
  text-shadow: 3px 3px black;
  
}

.goodnight-sweet-prince{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.mayor-whammy-show{
  z-index: 1;
  position: absolute;
  height: 50vh;
  width: 60vh;
}

.logo{
  height: 50vh;
  width: 97vh;
  margin-bottom: 2vh;
}

.logo:hover {
  cursor: pointer;
}

.container {
  margin-top: 2vh;
  height: 85vh;
  background-color: black;
}

.whammy{
  height: 100%;
  width: 100%;
}

#focused {
  border: #c9db84 dotted 1vh;
}

.audio {
  display: none;
}

.volumeIcon {
  height: 10vh;
  position: absolute;
  right: 10vw;
  bottom: 2vh;
}

.volumeIcon:hover {
  cursor: pointer;
}

/* FONTS

font-family: 'Bitter', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Abril Fatface', cursive; */

