/* feel free to change this, nothing permanent */

body{
 background-color: black;
 background-image: url("https://i.ytimg.com/vi/xf7pNSLFJOI/maxresdefault.jpg");
 background-size: cover;
}

.game-room{
  text-align: center;
}

.game-room-header{
  font-size: 10vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  color: #c9db84;
  display: block;
  margin-top: 2vh;
}

.create-game{
  background-color: #094b00;
  border: none;
  color: ghostwhite;
  font-family: 'Righteous', cursive;
  border: 2px dotted #c9db84;

}

.available-rooms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Righteous', cursive;
}

.next-question{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(100%);
}

.next-question:hover{
  cursor: pointer;
}

.ready{
  font-size: 10vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  color: #c9db84;
  display: block;
  margin-top: 2vh;
  padding: 2vh;
}

.question{
  font-size: 5vh;
  text-align: center;
}

.answer{
  color: #c9db84;
  font-size: 6vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  display: block;
  margin-top: 2vh;
  transition: background 1s;
}

.answer:hover{
  cursor: pointer;
  background: #094b00;

}

.trivia-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trivia-box{
  margin-top: 4vh;
  background-color: black;
  padding: 2vh;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #c9db84;
  border: 2px dotted #c9db84;
}

.options{
  margin-top: 4vh;
  height: 20vh;
  text-align: center;
}

.login{
  color: #c9db84;
  font-size: 6vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  margin: 2vh;
}

.create-account{
  color: #c9db84;
  font-size: 5vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
  margin: 2vh;
}

.sign-up-header{
  color: #c9db84;
  font-size: 6vh;
  font-family: 'Codystar', cursive;
  background: black;
  border: 2px dotted #c9db84;
}

.peter-tomarken{
  height: 50vh;
  width: 50vh;
}

.joinButton {
  background-color: black;
  width: 10vh;
  text-align: center;
  border: 1px dotted #c9db84;
  margin: 5px;
  color: ghostwhite;
}

.joinButton:hover {
  cursor: pointer;
}

.sign-in{
  display: block;
  margin: 2vh;
  border: none;
  background: black;
}

.host{
  position: absolute;
  right: 25vh;
  bottom: 8%;
  }

  /* FOOTER */
.player-console{
  width: 68%;
  height: 15vh;
  background-color: black;
  border: 5px dotted #c9db84;
  font-family: 'Codystar', cursive;
  color: ghostwhite;
  margin-top: 2vh;
}

.footer-row {
  width: 100%;
  height: 15vh;
  bottom: 0;
  position: absolute;
}

.site-wrapper{
  height: 100%;
}

/* GAMEBOARD */
.col-xs-2 {
  height: 17vh;
  background-color: ghostwhite;
  border: 5px solid black;
  border-radius: 15px;
  z-index: 1;
}

.centerConsole {
  position: relative;
  bottom: 45vh;
  text-align: center;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(-55%);
  z-index: 0;
}

.logo{
  height: 50vh;
  width: 97vh;
  margin-bottom: 2vh;
}

.container {
  height: 85vh;
  background-color: black;
  
}

.selector{
  border: 3px dotted yellow;
}

